* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

video.vid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .8;
}

.logo-image {
  width: 15%;
  margin-left: 25px;
  margin-top: 8px;
  opacity: .9;
}

.home-copy {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin-top: 250px;
}

.btn {
  font-size: 32px;
  background-color: rgba(245, 8, 41, .5);
  padding: 8px;
  padding-top: 13px;
  color: #FBFBF3;
  border-radius: 50px;
  width: 17%;
  margin-top: 20px;
}

.btn:hover {
  background-color: rgba(245, 8, 41, .8);
  font-weight: bold;
  color: #FBFBF3;
}

.yellow-diamond {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 13%;
}

.yellow-diamond:hover {
  opacity: .7;
  cursor: pointer;
}
